In [1]:
# Analisis de datos
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('mysql://root:root@127.0.0.1:3310/retail_db')

In [4]:
customers = pd.read_sql_table('customers', engine)
departments = pd.read_sql_table('departments', engine)
categories = pd.read_sql_table('categories', engine)
orders = pd.read_sql_table('orders', engine)
products = pd.read_sql_table('products', engine)
order_items = pd.read_sql_table('order_items', engine)

In [6]:
customers.columns

Index(['customer_id', 'customer_fname', 'customer_lname', 'customer_email',
       'customer_password', 'customer_street', 'customer_city',
       'customer_state', 'customer_zipcode'],
      dtype='object')

In [7]:
customers['customer_id'].count()

np.int64(12435)

In [8]:
print('Total de clientes:' , customers['customer_id'].nunique())

Total de clientes: 12435

In [13]:
clientes_por_ciudad = customers['customer_city'].value_counts()

print(f"Clientes por ciudad: {clientes_por_ciudad}")

Clientes por ciudad: customer_city
Caguas           4584
Chicago           274
Brooklyn          225
Los Angeles       224
New York          120
                 ...
Hempstead           3
Freehold            2
Ponce               2
National City       2
Gwynn Oak           2
Name: count, Length: 562, dtype: int64

In [17]:
orders.head(20)

    order_id order_date  order_customer_id     order_status
0          1 2013-07-25              11599           CLOSED
1          2 2013-07-25                256  PENDING_PAYMENT
2          3 2013-07-25              12111         COMPLETE
3          4 2013-07-25               8827           CLOSED
4          5 2013-07-25              11318         COMPLETE
5          6 2013-07-25               7130         COMPLETE
6          7 2013-07-25               4530         COMPLETE
7          8 2013-07-25               2911       PROCESSING
8          9 2013-07-25               5657  PENDING_PAYMENT
9         10 2013-07-25               5648  PENDING_PAYMENT
10        11 2013-07-25                918   PAYMENT_REVIEW
11        12 2013-07-25               1837           CLOSED
12        13 2013-07-25               9149  PENDING_PAYMENT
13        14 2013-07-25               9842       PROCESSING
14        15 2013-07-25               2568         COMPLETE
15        16 2013-07-25               7276  PENDING_PAYMENT
16        17 2013-07-25               2667         COMPLETE
17        18 2013-07-25               1205           CLOSED
18        19 2013-07-25               9488  PENDING_PAYMENT
19        20 2013-07-25               9198       PROCESSING

In [18]:
order_por_status = orders['order_status'].value_counts()
order_por_status

order_status
COMPLETE           22899
PENDING_PAYMENT    15030
PROCESSING          8275
PENDING             7610
CLOSED              7556
ON_HOLD             3798
SUSPECTED_FRAUD     1558
CANCELED            1428
PAYMENT_REVIEW       729
Name: count, dtype: int64

In [19]:
# Cuantas categorias existen dentro de cada departamento
categorias_por_departamento = categories.groupby('category_department_id')['category_id'].count()

categorias_por_departamento

category_department_id
2     8
3     8
4     6
5     7
6    12
7     7
8    10
Name: category_id, dtype: int64

categories['category_department_id'].value_counts()

In [21]:
# La distribucion de categorias por departamento

categoria_distribucion = categories.merge(departments,left_on='category_department_id',right_on='department_id')
categoria_distribucion = categoria_distribucion['department_name'].value_counts()
categoria_distribucion

department_name
Outdoors    12
Fitness      8
Footwear     8
Golf         7
Fan Shop     7
Apparel      6
Name: count, dtype: int64

##### Cuales son los productos mas caros y mas baratos
##### cual es el valor total de las ordenes por estado
##### Cual es el producto mas vendido
##### Cuales son los productos mas comprados por cada cliente

In [22]:
# Cuales son los productos mas caros y mas baratos
products.columns

Index(['product_id', 'product_category_id', 'product_name',
       'product_description', 'product_price', 'product_image'],
      dtype='object')

207

In [28]:
producto_caro = products.loc[products['product_price'].idxmax()]
producto_caro

product_id                                                           208
product_category_id                                                   10
product_name                                         SOLE E35 Elliptical
product_description
product_price                                                    1999.99
product_image          http://images.acmesports.sports/SOLE+E35+Ellip...
Name: 207, dtype: object

In [29]:
producto_barato = products.loc[products['product_price'].idxmin()]
producto_barato

product_id                                                            38
product_category_id                                                    3
product_name               Nike Men's Hypervenom Phantom Premium FG Socc
product_description
product_price                                                        0.0
product_image          http://images.acmesports.sports/Nike+Men%27s+H...
Name: 37, dtype: object

In [31]:
##### cual es el valor total de las ordenes por estado

total_ordenes = orders['order_status'].value_counts()
total_ordenes_por_estado_cliente = orders.merge(customers, left_on='order_customer_id', right_on='customer_id')
total_ordenes_por_estado_cliente = total_ordenes_por_estado_cliente.groupby('customer_state')['order_id'].count()

In [33]:
total = orders.merge(order_items, left_on='order_id', right_on='order_item_order_id')
total.groupby('order_status')['order_item_subtotal'].sum()

order_status
CANCELED             696030.99
CLOSED              3736048.79
COMPLETE           11276933.69
ON_HOLD             1864731.24
PAYMENT_REVIEW       357841.45
PENDING             3851881.28
PENDING_PAYMENT     7581671.05
PROCESSING          4190636.76
SUSPECTED_FRAUD      766844.68
Name: order_item_subtotal, dtype: float64

In [43]:
order_items

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99
4,5,4,897,2,49.98,24.99
...,...,...,...,...,...,...
172193,172194,68881,403,1,129.99,129.99
172194,172195,68882,365,1,59.99,59.99
172195,172196,68882,502,1,50.00,50.00
172196,172197,68883,208,1,1999.99,1999.99
172197,172198,68883,502,3,150.00,50.00

In [44]:
products

,product_id,product_category_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,,199.99,http://images.acmesports.sports/Riddell+Youth+...
...,...,...,...,...,...,...
1340,1341,59,Nike Women's Cleveland Browns Johnny Football,,34.00,http://images.acmesports.sports/Nike+Women%27s...
1341,1342,59,Nike Men's St. Louis Rams Michael Sam #96 Nam,,32.00,http://images.acmesports.sports/Nike+Men%27s+S...
1342,1343,59,Nike Men's Home Game Jersey St. Louis Rams Mi,,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1343,1344,59,Nike Men's Home Game Jersey St. Louis Rams Aa,,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1344,1345,59,Nike Men's Home Game Jersey St. Louis Rams Gr,,100.00,http://images.acmesports.sports/Nike+Men%27s+H...

In [45]:
order_items.groupby('order_item_product_id')['order_item_quantity'].sum()

order_item_product_id
19         64
24        231
35         65
37        781
44        939
        ...
982        60
1004    17325
1014    57803
1059       40
1073    15500
Name: order_item_quantity, Length: 100, dtype: int64

In [46]:
# Cual es el producto mas vendido
producto_mas_vendido = order_items.groupby('order_item_product_id')['order_item_quantity'].sum().idxmax()
producto_mas_vendido

np.int64(365)

In [49]:
producto_nombre = products.loc[products['product_id']== producto_mas_vendido, 'product_name'].values[0]
producto_nombre

'Perfect Fitness Perfect Rip Deck'

In [50]:
# Cuales son los productos mas comprados por cada cliente
merge_orders = order_items.merge(orders, left_on='order_item_order_id', right_on='order_id')
merge_orders.columns

Index(['order_item_id', 'order_item_order_id', 'order_item_product_id',
       'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price', 'order_id', 'order_date',
       'order_customer_id', 'order_status'],
      dtype='object')

In [65]:
productos_por_cliente.head(10)

,order_customer_id,order_item_product_id,order_item_quantity,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode,product_id,product_category_id,product_name,product_description,product_price,product_image
0,1,191,5,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521,191,9,Nike Men's Free 5.0+ Running Shoe,,99.99,http://images.acmesports.sports/Nike+Men%27s+F...
1,2,365,2,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,365,17,Perfect Fitness Perfect Rip Deck,,59.99,http://images.acmesports.sports/Perfect+Fitnes...
2,2,502,1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,502,24,Nike Men's Dri-FIT Victory Golf Polo,,50.00,http://images.acmesports.sports/Nike+Men%27s+D...
3,2,627,5,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,627,29,Under Armour Girls' Toddler Spine Surge Runni,,39.99,http://images.acmesports.sports/Under+Armour+G...
4,2,957,1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,957,43,Diamondback Women's Serene Classic Comfort Bi,,299.98,http://images.acmesports.sports/Diamondback+Wo...
5,2,1004,1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,1004,45,Field & Stream Sportsman 16 Gun Fire Safe,,399.98,http://images.acmesports.sports/Field+%26+Stre...
6,2,1014,7,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,1014,46,O'Brien Men's Neoprene Life Vest,,49.98,http://images.acmesports.sports/O%27Brien+Men%...
7,2,1073,2,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,1073,48,Pelican Sunstream 100 Kayak,,199.99,http://images.acmesports.sports/Pelican+Sunstr...
8,3,191,1,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,00725,191,9,Nike Men's Free 5.0+ Running Shoe,,99.99,http://images.acmesports.sports/Nike+Men%27s+F...
9,3,273,1,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,00725,273,13,Under Armour Kids' Mercenary Slide,,27.99,http://images.acmesports.sports/Under+Armour+K...

In [66]:
productos_por_cliente.groupby('order_customer_id')['order_item_quantity'].idxmax()

order_customer_id
1            0
2            6
3           10
4           17
5           27
         ...
12431    92839
12432    92855
12433    92859
12434    92866
12435    92870
Name: order_item_quantity, Length: 12331, dtype: int64

In [61]:
productos_por_cliente = merge_orders.groupby(['order_customer_id', 'order_item_product_id'])['order_item_quantity'].sum().reset_index()
productos_por_cliente = productos_por_cliente.merge(customers, left_on='order_customer_id', right_on='customer_id')\
                                             .merge(products, left_on='order_item_product_id', right_on='product_id')

productos_comprados_por_cliente = productos_por_cliente.loc[productos_por_cliente.groupby('order_customer_id')['order_item_quantity'].idxmax()]
productos_comprados_por_cliente[['customer_fname', 'product_name', 'order_item_quantity']]

,customer_fname,product_name,order_item_quantity
0,Richard,Nike Men's Free 5.0+ Running Shoe,5
6,Mary,O'Brien Men's Neoprene Life Vest,7
10,Ann,Perfect Fitness Perfect Rip Deck,13
17,Mary,Perfect Fitness Perfect Rip Deck,19
27,Robert,O'Brien Men's Neoprene Life Vest,6
...,...,...,...
92839,Mary,Nike Men's Dri-FIT Victory Golf Polo,22
92855,Angela,O'Brien Men's Neoprene Life Vest,19
92859,Benjamin,Under Armour Girls' Toddler Spine Surge Runni,11
92866,Mary,Nike Men's Dri-FIT Victory Golf Polo,10
92870,Laura,Nike Men's Free 5.0+ Running Shoe,5

In [ ]:
'''
*** groupby('order_customer_id'): Agrupa los datos por cliente, usando la columna order_customer_id que contiene el ID del cliente.
*** ['order_item_quantity']: Selecciona la columna order_item_quantity, que indica la cantidad de productos que el cliente ha comprado.
*** idxmax(): Para cada grupo (cliente), encuentra el índice de la fila donde la cantidad de productos es máxima (el producto que el cliente compró en mayor cantidad).
*** .loc[]: Luego, con esos índices máximos, selecciona las filas correspondientes de productos_por_cliente. Esto obtiene los productos más comprados por cada cliente.
'''